* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  padding: 0px;
  margin: 0px;
  background: #edf0f1;
  padding: 80px 0 0 0;
  width: 100vw; }

body, input, button {
  font-family: 'Roboto', sans-serif; }

header {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
          box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  header input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75); }
  header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border: 0px;
    border-radius: 25px;
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer; }
    header button img {
      width: 16px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px; }
    header button img.fill {
      fill: #25b99a; }

.container {
  width: 100%;
  float: left;
  padding: 15px; }

ul.todo {
  width: 100%;
  float: left;
  list-style: none; }

ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
          box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word; }

ul.todo li:last-of-type {
  margin: 0; }

ul.todo li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0; }

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; }

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;
  position: absolute;
  top: 10px;
  left: 0; }

ul.todo li .buttons button img {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px; }

ul.todo li .buttons button.remove img {
  color: #c0cecb; }

ul.todo li .buttons button.remove img:hover {
  background: #e85856;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border-radius: 5px; }

ul.todo:not(#completed) li .buttons button.complete img:hover {
  border: 1px solid #25b99a;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border-radius: 5px; }

ul.todo#completed li .buttons button.complete img {
  border: 2px solid steelblue;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border-radius: 5px; }

ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0; }

ul.todo#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px; }

ul.todo#todo:empty:after {
  content: 'No tienes tareas por hacer!';
  margin: 15px 0 0 0; }

ul.todo#completed:empty:after {
  content: 'Aun no has completado ninguna tarea!'; }

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa; }

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  background: #25b99a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
